body {
    background: rgb(243, 234, 226);
    background: linear-gradient(263deg, #f3e7dc 0%, #eeeee7 97%);
}

h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 33px;
    letter-spacing: 4px;
}

.container {
    display: flex;
    justify-content: center;
}


#pictures {
    height: 87vh;
}

.btn {
    margin: 7px;
    background-color: transparent;
    color: #b3b3ae;
    opacity: 0.7;
    border: none;
    font-size: 50px;
}

.btn:hover {
    color: #9b9b97;
}


@media all and (max-width: 800px) {
    #pictures {
        max-width: 80%;
        height: auto;
    }
}

@media all and (max-width: 500px) {

    #pictures {
        max-width: 80%;
        height: auto;
    }
}